.navbar {
   padding: 20px !important;
}

.search {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: column; 
}

.input {
    width: 50% !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}