html, body {
    position: relative;
    overflow-x: hidden;
}
.navbar {
    padding:  15px 50px !important;
    background-color: #1d1d1d !important;
    color: white !important;
    margin-bottom: 40px;
    
 }

 .navbar-brand {
     color: white !important;
     font-family: "raleway";
     font-size: 30px !important;
 }

 .navbar-nav li a{
     color: white !important;
     font-family: "raleway";
     font-size: 20px !important;
     padding: 20px !important;
 }


 .stores {
     display: flex;
     margin-left: -10px;
 }

 .stores a {
     padding: 10px;
     color: teal;
 }

 .stores a:hover {
     text-decoration: none;
     list-style-type:none ;
     color: grey;
 }

 .book {
     margin-bottom: 70px;
 }

 .book-text {
    display: flex;
    flex-direction: column;
   justify-content: center;
    height: 50vh;

 } 

 .book-text h1, h2, h3, h4, h5, h6{
     font-family: 'raleway';
 }

 .book-text h1 {
     font-weight: bolder;
 }

h1 {
    font-family: 'raleway';
    font-weight: bolder;
    
}


 @media(max-width: 767px){
    .book-text {
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-top: 60px !important;
    
     } 

     .stores a {
        padding: 6px;
        color: teal;
        font-size: 10px;
    }

    .book {
        margin-bottom: 50px !important;
    }

    h1 {
        font-family: 'raleway';
        font-weight: bolder;
        font-size: 30px !important;
        
    }

 }